remote:
    host: "anna"
    user: "dingjie"
    path: "/home/dingjie/www/farm.djc.orantrip.com"

behaviour:
    upload_on_save:     true
    sync_down_on_open:  true

option:
    delete_files:       true
    exclude: [
        'sync-config.cson'
        '.git'
        'node_modules'
        'tmp'
        'vendor'
        'Vendor'
    ]
