# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
    '.tree-view.full-menu .header.list-item': [
        'label': 'Sync'
        'submenu': [
            {
                'label': 'Edit Sync Config'
                'command': 'atom-sync:configure'
            }
            {
                'label': 'Sync Remote -> Local'
                'command': 'atom-sync:download-directory'
            }
            {
                'label': 'Sync Local -> Remote'
                'command': 'atom-sync:upload-directory'
            }
        ]
    ]

    '.tree-view.full-menu .file.list-item': [
        'label': 'Sync'
        'submenu': [
            {
                'label': 'Download File'
                'command': 'atom-sync:download-file'
            }
            {
                'label': 'Upload File'
                'command': 'atom-sync:upload-file'
            }
        ]
    ]
